body {
    background: linear-gradient(90deg, rgba(52,52,52,0.8155637254901961) 15%, rgba(131,131,131,0.6783088235294117) 41%, rgba(99,99,99,0.7091211484593838) 57%, rgba(99,98,98,0.5718662464985995) 76%, rgba(68,68,74,0.6334908963585435) 91%);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
