body {
    background-image: url(https://img.freepik.com/foto-gratis/textura-corcho-marron-primer-plano_23-2148383576.jpg?size=626&ext=jpg);
    background-position: center;
    font-family: 'Amiri', serif;
    font-size: 20px;
}

/*Estilo a la barra de nav*/
.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*CSS aplicado al fondo de cada nota*/
.fondoNota{
    position: sticky;
    background-image: url(https://w7.pngwing.com/pngs/365/5/png-transparent-yellow-note-paper-post-it-note-sticky-notes-paper-icon-sticky-note-chemical-element-angle-text.png);
    background-position: right  -58px bottom -70px;
    background-size: auto;
    border-radius: 10px;
    max-width: 460px;
    min-height: 400px;
}

/**/
.bodyNota{
    height: 130px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Css aplicado al pincho de notas*/
.pincho{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
